__pycache__
nohup.out
.python-version
.pytest_cache
upload/*
static/*
dist/*
*egg-info*
*.pyc
*.swp
*.swo
*.db3
.idea/
# fp-ui/package-lock.json
.coverage
.vagrant
.vscode
build/*
**/node_modules/*
flask_monitoringdashboard.db
celerybeat-schedule
vagrant-*
.DS_Store
.vs/
jenkins_lambda_commands.sh
conftest.py
evidences
